body {
  background-color: #2e3034;
}
.quote {
  color: #6fa3a7;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 5px;
}

.nav a {
  text-decoration: none;
  color: white;
  padding-top: 100px;
}
.l_nav a {
  padding-left: 12px;
}
.r_nav a {
  padding-left: 15px;
  padding-right: 15px;
}
.quote {
  padding-left: 20px;
  font-size: 30px;
}
.storing_information {
  list-style: none;
  color: white;
  font-size: 20px;
}
.Artist-List img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 20px;
}
.Artist-List {
  display: flex;
}
.flex_container {
  display: flex;
  justify-content: space-around;
}
a {
  color: white;
  text-decoration: none;
}
.trackContainer {
  display: flex;
}
.track {
  color: white;
}
.track > img {
  height: 50px;
  width: 50px;
}
.root_page {
  display: flex;
  flex-direction: column;
}
.mid_page {
  display: flex;
  width: 100%;
  height: 100%;
}
.left_root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-height: 200px;
}
.left_root > span {
  margin: 50px;
  color: white;
  padding: 5px;
  padding-bottom: 5px;
  border: 3px dotted #a46936;
  background-color: #a46936;
}
.right_root {
  flex-grow: 1;
  width: 100%;
  max-height: 400px;
}
.foot {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.foot > button {
  margin: 30px;
  padding: 15px 32px;
  font-size: 16px;
}
