body {
  background-color: #2e3034;
}
.quote {
  color: #6fa3a7;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-top: 5px;
}

.nav a {
  text-decoration: none;
  color: white;
  padding-top: 100px;
}
.l_nav a {
  padding-left: 12px;
}
.r_nav a {
  padding-left: 15px;
  padding-right: 15px;
}
.quote {
  padding-left: 20px;
  font-size: 30px;
}
.storing_information {
  list-style: none;
  color: white;
  font-size: 20px;
}
.Artist-List img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 20px;
}
.Artist-List {
  display: flex;
}
.flex_container {
  display: flex;
  justify-content: space-around;
}
a {
  color: white;
  text-decoration: none;
}
